#logo {
  max-height: 42px;
}

.gradient {
  background: linear-gradient(120deg,#2b2843,#0ea0ff);
  color: #fff;
}

.hero {
  margin-top: -150px;
}

.portfolio-block {
  padding-bottom: 20px;
  padding-top: 20px;
}

